:root
{
    --font-primary-color: #FFFFFF;
    --font-secondary-color: #C7C7C7;
    --font-tertiary-color: #8a8a8a;
    --bg-primary-color: #000000;
    --bg-secondary-color: #121212;
    --bg-tertiary-color: #1a1a1a;
    --primary-color: #f5c518;
    --secondary-color: #5799ef;
    /*Aqui se guardan unas variables con las diferentes medidas para el font-size*/
    --sm:1.4rem;
    --md:1.6rem;
    --lg:2rem;
    --header-size:2.4rem;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-size: var(--md);
    background-color: var(--bg-primary-color);
    color: var(--font-primary-color);
}
a
{
    text-decoration: none;
    color: inherit;
}
.container
{
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c7
{
    width: 100%;
    display: flex;
    max-height: 600px;
}
.c1
{
    background-color: var(--bg-secondary-color);
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.c1 .nav-left, .c1 .nav-right, .nav-right a, .img-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c1 a
{
    margin: 0 8px;
    font-weight: 500;
}
.img-container
{
    width: 24px;
    height: 24px;
}
.img-container img
{
    width: 100%;
    object-fit: contain;
}
.img-container.logo
{
    width: 64px;
    height: 32px;
}
.img-container.arrow img
{
    width: 50%;
    object-fit: fill;
    transform: rotate(90deg);
}
.img-container.arrow.right img
{
    transform: rotate(0deg);
    width: 16px;
}
.c1 .search-container
{
    display: none;
}

.c2
{
    flex-direction: column;
    justify-content: flex-end;
    margin: 8px;
    height: 70vw;
    position: relative;
}
.c2 .background
{
    position: absolute;
    width: 100%;
    height: inherit;
    left: 8;
    z-index: -1;
}
.c2 .background img
{
    width: 100%;
}
.c2 .card-top
{
    display: flex;
    height: 50%;
    align-items: flex-end;
}
.c2 .card-top .img-container
{
    width: 20%;
    height: 100%;
}
.c2 .card-top .img-container img
{
    max-height: 200px;
}
.c2 .card-top div
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
    margin-left: 8px;
    margin-bottom: 8px;
}
.c2 .card-top div .img-container
{
    width: 50px;
    height: auto;
    margin-bottom: 8px;
}
.c2 .card-top div p:nth-child(2)
{
    margin-bottom: 8px;
    font-weight: 700;
}
.c2 .card-top div p:nth-child(3)
{
    margin-bottom: 8px;
    font-size: var(--sm);
    font-weight: 500;
    color: var(--font-secondary-color);
}
.c2 .card-bottom
{
    display: flex;
    height: 10%;
    align-items: center;
}
.c2 .card-bottom p
{
    font-size: var(--lg);
    font-weight: 700;
    margin-left: 16px;
}

.c3
{
    min-height: 70vw;
    background-color: var(--bg-secondary-color);
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 16px 24px;
}
.title
{
    font-size: var(--header-size);
    font-weight: 700;
    color: var(--primary-color);
    margin: 8px 0;
}
.card-container
{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-container .slide
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 80%;
}
.card-container .slide .card
{
    width: calc(100%/3 - 4px);
    height: 100%;
}
.card-container .slide .card img
{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.c4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 16px;
    height: 68px;
}
.subtitle
{
    color: var(--secondary-color);
    font-weight: 500;
}

.c5
{
    min-height: 70vw;
    background-color: var(--bg-secondary-color);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding: 28px 16px;
}
.title2
{
    font-size: var(--lg);
    font-weight: 700;
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.title2::before
{
    content: '';
    background-color: var(--primary-color);
    height: 24px;
    width: 4px;
    border-radius: 4px;
    margin-right: 4px;
}
.img-container.add
{
    margin: 28px 0 24px;
    width: 32px;
}
.c5 section
{
    text-align: center;
    font-size: var(--md);
    padding: 0 50px;
    line-height: 20px;
    font-weight: 400;
}
.c5 section p:first-child
{
    font-weight: 700;
}
.primary-button
{
    margin: 32px 0;
    padding: 0 32px;
    width: fit-content;
    height: 36px;
    color: var(--bg-primary-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    font-size: var(--sm);
    font-weight: 700;
}

.c6
{
    background-color: var(--bg-secondary-color);
    flex-direction: column;
    margin-top: 12px;
    padding: 28px 16px;
}
.c6 > p
{
    color: var(--font-secondary-color);
}
.slider-container
{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}
.slider-container .slide
{
    width: calc(100%/2 - 4px);
    background-color: var(--bg-tertiary-color);
    box-shadow: 2px 2px 2px var(--bg-primary-color);
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.slide .slide-figure
{
    height: fit-content;
    width: 100%;
    margin-bottom: 8px;
}
.slide .slide-figure img
{
    width: 100%;
}
.slide .rate
{
    padding: 0 8px;
    color: var(--font-secondary-color);
    margin-bottom: 8px;
}
.slide .rate::before
{
    content: '⭐';
    margin-right: 4px;
}
.slide .name
{
    padding: 0 8px;
    margin-bottom: 20px;
}
.slide .secondary-button
{
    padding: 0 12px;
    width: 90%;
    align-self: center;
    justify-self: flex-end;
    height: 36px;
    color: var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    border-radius: 4px;
    font-size: var(--sm);
    /* Las propiedades de white-space y overflow son necesarias para poder aplicar la propiedad text-overflow */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.play-trailer
{
    margin: 16px 0;
    align-self: center;
    justify-self: flex-end;
}

@media (min-width: 600px)
{
    .nav-right .img-container.search
    {
        display: none;
    }
    .c1 .search-container
    {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
    }
    .c1 .search-bar
    {
        background-color: var(--font-primary-color);
        width: 100%;
        height: 36px;
        border-radius: 6px;
        overflow: hidden;
        display: flex;
    }
    .c1 .search-bar .categories
    {
        width: 100px;
    }
    .c1 .search-bar .categories select
    {
        height: 100%;
        width: 100%;
        border: none;
        padding-left: 12px;
        font-weight: 700;
        font-size: var(--md);
        font-family: 'Roboto', sans-serif;
    }
    .c1 .search-bar .categories select:hover
    {
        background-color: var(--font-secondary-color);
    }
    .c1 .search-bar .categories select option
    {
        background: var(--bg-primary-color);
        color: var(--font-primary-color);
        border: none;
    }
    .c1 .search-bar .input-search-bar
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        border-left: 1px solid var(--font-tertiary-color);
    }
    .c1 .search-bar .input-search-bar input
    {
        height: 100%;
        width: 90%;
        border: none;
    }
    .c1 .search-bar .input-search-bar input::placeholder
    {
        color: var(--font-tertiary-color);
    }
}