:root /*Guardar los colores base de nuestro proyecto, por si alguna vez cambian desde diseño, simplemente cambiarlos desde aqui*/
{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    /*Aqui se guardan unas variables con las diferentes medidas para el font-size*/
    --sm:14px;
    --md:16px;
    --lg:18px;
}
body
{
    font-family: 'Quicksand', sans-serif;
}
li
{
    margin: 16px 0;
}
ul
{
    padding-left: 24px;
}
ol
{
    padding-left: 24px;
}
li p:first-child
{
    font-weight: bold;
    font-size: var(--lg);
}
li figure
{
    margin: 0;
    width: 200px;
}
li figure img
{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 4px;
}
figcaption
{
    font-size: var(--sm);
    color: var(--very-light-pink);
}
section video
{
    width: 400px;
    margin-top: 8px;
}
section iframe
{
    width: 400px;
    height: 225px;
    margin-top: 8px;
    border: 0;
}